<%- include('../partials/header') %>

<style>
  .contact-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Add space between the image and text */
  }

  .contact-image {
    flex: 1;
    max-width: 40%; /* Adjust the width of the image container */
  }

  .contact-image img {
    max-width: 100%;
    height: auto;
  }

  .contact-text {
    flex: 1;
    padding: 0 20px;
  }
</style>

<h1><%=title%></h1>

<div class="contact-container">
  <div class="contact-image">
    <img src="https://media.licdn.com/dms/image/D5603AQGxJIpI3e9HOQ/profile-displayphoto-shrink_800_800/0/1685493076446?e=1697673600&v=beta&t=9X6FJoif0Kq7ncQIYQ5eHAt5gbsJRRk_QaUh6XGVNxg" alt="Priscila's Headshot" width="400" height="500">
  </div>
  <div class="contact-text">
    <p><em>Greetings and Welcome Everyone!</em></p>
<p>I am an aspiring tech enthusiast with a profound ardor for all things technology, especially within the realm of web development.</p>
    <p>From a young age, I've been honing my skills in various domains, including retail and the food industry. These experiences have endowed me with a versatile skill set, highlighting exceptional customer service proficiency and a dedicated work ethos.</p>
    <p>Currently, I'm charting my course in the realm of technology. I'm actively pursuing a distinguished Software Development & Testing certificate from Year Up Puget Sound, a reputable local nonprofit organization. My educational journey commenced as a running start student at Bellevue College, culminating in the attainment of a degree in Arts & Sciences.</p>
    <p>With a robust academic foundation and a wealth of hands-on experience, I am fervently committed to further amplifying my expertise within the dynamic tech sector. I aspire to leverage my proficiency for the betterment of innovative projects.</p>
    <p>For those interested in collaboration or meaningful discussions, I invite you to connect with me on <a href="https://www.linkedin.com/in/priscila-garcia-mendoza">LinkedIn</a></p>
    
  </div>
  </div>

<%- include('../partials/header') %>
